{% if forum.product %}
  <div class="container rounded bg-secondary">
    <div class="product-sidebar">
      {% if forum.product.product_images %}
        <img src="{{ forum.product.product_images.0 }}" alt="{{ forum.product.product_name }}" />
      {% endif %}
      <h3 class="fw-bold">{{ forum.product.product_name }}</h3>
      <p class="fw-bold">${{ forum.product.product_price }}</p>
      <a href="{% url 'products:product_details' pk=forum.product.product_id %}">View Book</a> 
    </div>
  </div>
{% endif %}